name: Publish to Devpi

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish to Private Index
    uses: hope0hermes/SharedWorkflows/.github/workflows/reusable-publish.yml@main
    with:
      registry: custom
      python-version: '3.12'
    secrets:
      PUBLISH_TOKEN: ${{ secrets.DEVPI_PASSWORD }}
      CUSTOM_REGISTRY_URL: ${{ secrets.DEVPI_URL }}
      CUSTOM_REGISTRY_USERNAME: ${{ secrets.DEVPI_USERNAME }}
